/**
 * Challenge:
 * 
 * Start making this look lots nicer :)
 * 
 * 1. Add a card table background with the img/table.png image provided.
 * 2. Move the draw button to the very bottom of the page, full width
 * 3. Add some button styles. You can use the photo on the slides
 * for one option.
*/

html, body {
    background-color: green;
    margin: 0;
    padding: 0;
    height: 100hv;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button {
    background-color: orange;
    cursor: pointer;
    border: none;
}

button.new-deck {
    font-size: 30px;
    align-self: flex-start;
    padding: 5px;
}

button.draw-two-cards {
    font-size: 30px;
    padding: 5px;
    align-self: stretch;
}

div.card-slot {
    border: 1px solid black;
    border-radius: 5px;
    height: 120px;
    width: calc(120px * 5 / 7);
}

div.card-slot:nth-of-type(1) {
    margin-bottom: 50px;
}

img.card {
    width: 100%;
    height: 100%;
}